@media (min-width: 720px) {
	.Narrative-document [data-interactive-oscars-predictions-question] {
		margin: 40px -60px;
	}
}

.Question {
	max-width: 720px;

	@media (min-width: 640px) {
		padding: 10px 20px;
	}
}

.QuestionLabel + .h1 {
	padding-top: 15px;
}

@import "./label";
@import "./personalChoices";
@import "./personalResult";
@import "./publicResult";
@import "./publicChoices";
@import "./publicResponses";
