.QuestionPersonalChoices {
	display: flex;
	flex-wrap: wrap;
	margin: 12px -5px 0;
}

.QuestionPersonalChoices-choice {
	flex: 0 0 auto; // IE 11
	flex: 0 0 calc(100% - 10px);
	margin: 5px;
	max-width: calc(100% - 10px);

	@media (min-width: 360px) {
		flex: 0 0 calc(50% - 10px);
		max-width: calc(50% - 10px);
	}

	@media (min-width: 640px) {
		flex: 0 0 calc(33.33% - 10px);
		max-width: calc(33.33% - 10px);
	}
}
