.Begin {

}

.BeginLocked {
	color: $darkBlue;
	font-size: 24px;
	font-weight: bold;
	line-height: 1;
}

.BeginLocked::after {
	content: "";
	display: inline-block;
	margin-left: 10px;
	border-radius: 50%;
	width: 27px;
	height: 27px;
	vertical-align: bottom;
	background-color: $darkBlue;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjExIiBoZWlnaHQ9IjEzIiB2aWV3Qm94PSIwIDAgMTEgMTMiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHRpdGxlPkxvY2s8L3RpdGxlPjxwYXRoIGQ9Ik02IDguOTE1YTEuNSAxLjUgMCAxIDAtMSAwdjEuNTljMCAuMjguMjI0LjQ5NS41LjQ5NS4yNjggMCAuNS0uMjIyLjUtLjQ5NXYtMS41OXpNMiA0aC0uMDA4QTIgMiAwIDAgMCAwIDUuOTk3djUuMDA2QzAgMTIuMTA0Ljg5MiAxMyAxLjk5MiAxM2g3LjAxNkEyIDIgMCAwIDAgMTEgMTEuMDAzVjUuOTk3QTEuOTk2IDEuOTk2IDAgMCAwIDkuMDA4IDRIOVYyLjAxQTIgMiAwIDAgMCA3IDBINEMyLjg5IDAgMiAuOTAxIDIgMi4wMVY0em0yLTFjMC0uNTUyLjQ0My0xIC45OTktMWgxLjAwMkM2LjU1MyAyIDcgMi40NDQgNyAzdjFINFYzeiIgZmlsbD0iI2ZmZiIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+");
}

.Begin .h2:first-child {
	margin-top: 0;
}

.Begin .h2:last-child {
	margin: 12px 0 5px;
}

[data-interactive-oscars-predictions-question] ~ [data-interactive-oscars-predictions-begin] .Begin .h2:last-child {
	display: none;
}

.BeginCode {
	display: flex;
	margin: 10px -5px 0;
}

.BeginCode-control {
	flex: 1 1 auto;
	margin: 5px;
}

.BeginCode-control + .BeginCode-control {
	flex: 0 0 87px;
}

.BeginCode-control .TextInput {
	font-weight: bold;
	letter-spacing: 5px;
}

.BeginCode-control .TextInput::-webkit-input-placeholder {
	transition: opacity .25s $basicTimingFunction;
	will-change: opacity;
}
.BeginCode-control .TextInput::-moz-placeholder {
	transition: opacity .25s $basicTimingFunction;
	will-change: opacity;
}
.BeginCode-control .TextInput::-ms-impit-placeholder {
	transition: opacity .25s $basicTimingFunction;
	will-change: opacity;
}

.BeginCode-control .TextInput:focus::-webkit-input-placeholder {
	opacity: 0;
}
.BeginCode-control .TextInput:focus::-moz-placeholder {
	opacity: 0;
}
.BeginCode-control .TextInput:focus::-webkit-input-placeholder {
	opacity: 0;
}
