@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slideIn {
	from {
		transform: translate(0, 102%);
	}
	to {
		transform: none;
	}
}

@keyframes slideInRight {
  from {
    transform: translate(-102%, 0);
  }
  to {
    transform: none;
  }
}

@keyframes fadeAndNudgeIn {
	from {
		opacity: 0;
		transform: translate(0, 2em);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes pop {
	0% {
		transform: scale(0.95);
	}
	66% {
		transform: scale(1.05);
	}
	100% {
		transform: none;
	}
}

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-0.625em, 0, 0);
  }
  20%, 40%, 60%, 80% {
    transform: translate3d(0.625em, 0, 0);
  }
}

@keyframes wobble {
  from {
    transform: none;
  }
  15% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  to {
    transform: none;
  }
}

@keyframes dragHint {
  from {
    transform: translate3d(-50%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  to {
    transform: translate3d(50%, 0, 0) rotate3d(0, 0, 1, 5deg);
  }
}

@keyframes tickIn {
  from {
    opacity: 0;
    transform: rotate(-36deg);
  }
  33% {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes tickOut {
  from {
    opacity: 1;
    transform: none;
  }
  66% {
    opacity: 0;
  }
  to {
    opacity: 0;
    transform: rotate(36deg);
  }
}
