$black: #333;
$white: #fff;

$darkerGrey: #666;
$darkGrey: #757575;
$grey: #999;
$lightGrey: #e5e5e5;
$lighterGrey: #eee;
$lightestGrey: #f9f9f9;

$red: #b84035;
$lightRed: #be4233;

$green: #3d835a;
$lightGreen: #348359;

$blue: #426eb5;
$lightBlue: #3b6db6;
$darkBlue: #0a538d;

$basicTimingFunction: cubic-bezier(0,0,0.3,1);
$bounceTimingFunction: cubic-bezier(.79,.27,.37,1.21);

$fontFamilyMobile: "Interval Sans Pro", Arial, Helvetica, sans-serif;
$fontFamilyStandard: "ProximaNova", Arial, Helvetica, sans-serif;
$fontFamilyBasic: Arial, Helvetica, sans-serif;
